<!DOCTYPE html>
<html>
<head>
    <title>{{.Title}}</title>
</head>
<body>
    {{template "header" .}}

    {{.Content}}

    <a href="/blogs">
      <h2>Recent Blogs</h2>
    </a>
    <ul>
        {{range .RecentBlogs}}
        <li>
            <a href="/blogs/{{.Id}}">{{.Title}}</a>
            <small>Updated: {{.UpdatedAt.Format "2006-01-02"}}</small>
        </li>
        {{end}}
    </ul>

    <a href="/notes">
      <h2>Recent Notes</h2>
    </a>
    <ul>
        {{range .RecentNotes}}
        <li>
            <a href="/notes/{{.Id}}">{{.Title}}</a>
            <small>Updated: {{.UpdatedAt.Format "2006-01-02"}}</small>
        </li>
        {{end}}
    </ul>

    {{template "footer" .}}
</body>
</html>
