<!DOCTYPE html>
<html lang="en">
{{template "head" .}}
<body>
    {{template "header" .}}

    <div class="content">
      {{.Content}}

        <h2><a href="/blogs">Recent Blogs</a></h2>
      <ul>
          {{range .RecentBlogs}}
          <li>
              <small>{{.UpdatedAt.Format "2 January 2006"}}</small>
              <a href="/blogs/{{.Id}}">{{.Title}}</a>
          </li>
          {{end}}
      </ul>
        <h2><a href="/notes">Recent Notes</a></h2>
      <ul>
          {{range .RecentNotes}}
          <li>
              <small>{{.UpdatedAt.Format "2 January 2006"}}</small>
              <a href="/notes/{{.Id}}">{{.Title}}</a>
          </li>
          {{end}}
      </ul>
    </div>

    {{template "footer" .}}
</body>
</html>
